openapi: 3.0.3
info:
  title: cirQit OpenAPI
  version: 0.0.1
  description: openAPI for REST communication with the cirQit app
  contact:
    email: info@cirqit.cloud
    name: cirQit
    url: https://www.cirqit.cloud
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://cirqit.cloud/wp-content/uploads/2021/01/cirQit_kp_200x80.png
  x-visibility: public
servers:
  - url: https://sandbox.api.cirqit.cloud
    description: Sandbox APIs
    variables: { }
  - url: https://preprod.api.cirqit.cloud
    description: Non-Production APIs
    variables: { }
  - url: https://prod.api.cirqit.cloud
    description: Production APIs
    variables: { }
tags:
  - name: Auth
    description: the Authorization process
  - name: Tree
    description: Operations regarding the Directory Tree
  - name: Installation
    description: Operations create and modify a installation
  - name: Schema
    description: Operations related to the schema editable document
  - name: Attachment
    description: Operations related to the additional documents of a Installation
  - name: Logbook
    description: Operations to download the logbook of a Installation in csv format (NOT YET DEFINED)


paths:
#  /auth/refresh-token:
#    get:
#      tags:
#        - Auth
#      summary: Request a refresh token for the given company
#      description: This endpoint allows you to request a new refresh token using a valid refresh token.
#      parameters:
#        - name: companyName
#          in: path
#          required: true
#          schema:
#            type: string
#        - name: userId
#          in: path
#          required: true
#          schema:
#            type: string
#      responses:
#        "200":
#          description: New access token
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/JWTAccessToken'
#        "400":
#          $ref: '#/components/responses/CirQitError400'
#        "401":
#          $ref: '#/components/responses/CirQitError401'
#        "500":
#          $ref: '#/components/responses/CirQitError500'

  /auth/access-token:
    post:
      tags:
        - Auth
      summary: Request a new access token using a refresh token
      description: This endpoint allows you to request a short-living access token using a valid refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTAccessTokenRequest'
      responses:
        "200":
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTAccessToken'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

  /rest/openapi/document/v1/company/{companyName}:
    get:
      tags:
        - Company
      operationId: getCompany
      summary: get the Company data
      description: get the properties of the Company
      parameters:
        - name: companyName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'


  # Tree
  /rest/openapi/document/v1/tree:
    get:
      tags:
        - Tree
      operationId: getDirectoryTree
      summary: list all the available directories
      description: get the listing with all the directories and subdirectories
      responses:
        "200":
          description: DirectoryTree.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTree'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

  /rest/openapi/document/v1/tree/{parentId}:
    post:
      tags:
        - Tree
      operationId: createDirectory
      summary: create a directory
      description: create a directory in the tree.
      parameters:
        - name: parentId
          description: the parent directory
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Directory'
      responses:
        "201":
          description: the created directory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Directory'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "409":
          $ref: '#/components/responses/CirQitError409'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

  # Installation
  /rest/openapi/document/v1/installation:
    post:
      tags:
        - Installation
      operationId: createInstallation
      summary: create a installation in the given directory
      description: get the installation data
# FIXME: parentId muss in die Installation. Kann nicht verschiede parameter mitgeben
#      parameters:
#        - name: directoryId
#          description: the directory to store the installation
#          in: path
#          required: true
#          schema:
#            $ref: '#/components/schemas/IdSchema'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Installation'
      responses:
        "200":
          description: installation data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installation'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "409":
          $ref: '#/components/responses/CirQitError409'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

  /rest/openapi/document/v1/installation/{installationId}:
    get:
      tags:
        - Installation
      operationId: getInstallation
      summary: get the data of the installation
      description: get the installation data
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      responses:
        "200":
          description: installation data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installation'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        uri: ### OpenApiFunction ###
        httpMethod: POST
        type: aws_proxy
    delete:
      tags:
        - Installation
      operationId: deleteInstallation
      summary: delete the installation
      description: purges the installation from cirQit
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: string
                format: json
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

  # Schema
  /rest/openapi/document/v1/installation/{installationId}/schema:
    put:
      tags:
        - Schema
      operationId: uploadPdf
      summary: Upload or overwrite a schema PDF file
      description: Upload or overwrite a PDF file for the given installation ID
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: the display-name of the pdf file
            encoding:
              file:
                contentType: application/pdf
      responses:
        "201":
          description: Resource created.
          content:
            application/json:
              schema:
                type: string
                format: json
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "409":
          $ref: '#/components/responses/CirQitError409'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'
    get:
      tags:
        - Schema
      operationId: getSchema
      summary: get the schema of the installation
      description: get the schema of the installation
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      responses:
        "200":
          description: download the document.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

    # Attachment
  /rest/openapi/document/v1/installation/{installationId}/atachments:
    get:
      tags:
        - Attachment
      operationId: getList
      summary: list the available documents
      description: get the listing of the documents for the given installationId
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - pagination
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentMetadata'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'
  /rest/openapi/document/v1/installation/{installationId}/atachment/{filePath}:
    put:
      tags:
        - Attachment
      operationId: overwriteDocument
      summary: upload or overwrite a document
      description: upload or overwrite a document
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
        - name: filePath
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/DocumentMetadata'
                document:
                  type: string
                  format: binary
            encoding:
              document:
                contentType: application/octet-stream
      responses:
        "201":
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/DocumentMetadata'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError409'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'
    get:
      tags:
        - Attachment
      operationId: getDocument
      summary: get the document
      description: get thd document with the given documentId. The documentId can be discovered by the get metadata method.
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
        - name: filePath
          in: path
          required: true
          description: Path to the file, including folders and subfolders
          schema:
            type: string
            example: folder/subfolder/filename.pdf
      responses:
        "200":
          description: download the document.
          content:
            application/*:
              schema:
                type: string
                format: binary
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'
    delete:
      tags:
        - Attachment
      operationId: deleteDocument
      summary: delete a existing document
      description: remove a existing document based on the documentId
      parameters:
        - name: installationId
          description: Filter results to match a given installation
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdSchema'
        - name: filePath
          in: path
          required: true
          description: Path to the file, including folders and subfolders
          schema:
            type: string
            example: folder/subfolder/filename.pdf
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/DocumentMetadata'
        "400":
          $ref: '#/components/responses/CirQitError400'
        "401":
          $ref: '#/components/responses/CirQitError401'
        "403":
          $ref: '#/components/responses/CirQitError403'
        "404":
          $ref: '#/components/responses/CirQitError404'
        "405":
          $ref: '#/components/responses/CirQitError405'
        "500":
          $ref: '#/components/responses/CirQitError500'
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        passthroughBehavior: "when_no_templates"
        responses:
          default:
            statusCode: 200
            responseTemplates:
              application/json: '{"message": "mock response"}'

components:
  schemas:
    JWTAccessTokenRequest:
      type: object
      required:
        - jwtRefreshToken
        - clientId
        - scope
      properties:
        jwtRefreshToken:
          type: string
          description: The refresh token
          example: your-refresh-token
        clientId:
          type: string
          description: The ID of the requesting application
          example: ElektroForm Solar
        scope:
          type: string
          description: The scope of the access token
          example: cirqit/read cirqit/write
    JWTAccessToken:
      type: string
      description: The JWT Token
      example: your-new-JWT-access-token


    IdSchema:
      type: string
      pattern: '^[A-Z0-9]{5}-[A-Z0-9]{5}$'
      example: ABCDE-12345

    Company:
      type: object
      required:
        - companyName
      properties:
        companyName:
          type: string
          example: Example Ltd.
        addition:
          type: string
          example: Postfach
        street:
          type: string
          example: die strasse
        postalCode:
          type: string
          example: 8400
        city:
          type: string
          example: Winterthur
        country:
          type: string
          example: Schweiz
        phone:
          type: string
          example: 0785556677
        email:
          type: string
          format: email
          example: info@example.com
        website:
          type: string
          example: www.example.com

    Directory:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Project on the street
        description:
          type: string
          example: a description of the directory
        accountId:
          type: string
          readOnly: true
          example: mario
        role:
          type: string
          readOnly: true
          example: ADMINISTRATOR
        id:
          type: string
          readOnly: true
          example: FGHIJ-67890

    DirectoryTree:
      allOf:
        - $ref: '#/components/schemas/Directory'
        - type: object
          properties:
            children:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/Installation'
                  - $ref: '#/components/schemas/DirectoryTree'

    Installation:
      type: object
      required:
        - licenseType
        - commission
        - name
      properties:
        name:
          type: string
          example: 2737_H1 Pelletanlage Hauptsteuerung Silosteuerung_V004
        licenseType:
          type: string
          example: public
        commission:
          type: string
          example: Hase
        address:
          type: string
          example: 82256 Fürstenfeldbruck, Deutschland
        location:
          type: object
          properties:
            latitude:
              type: number
              format: float
              example: 48.17394
            longitude:
              type: number
              format: float
              example: 11.243008
        id:
          type: string
          readOnly: true
          example: ABCDE-12345
        companyName:
          type: string
          readOnly: true
          example: Huber AG
        rootId:
          type: string
          readOnly: true
          example: FGHIJ-56789
        parentId:
          type: string
          readOnly: true
          example: KLMNO-98765
        accountId:
          type: string
          readOnly: true
          example: mario
        role:
          type: string
          readOnly: true
          example: ADMIN
        createdDate:
          type: string
          readOnly: true
          format: date-time
          example: Sep 5, 2023, 9:12:18PM

    DocumentMetadata:
      type: object
      required:
        - fileName
      properties:
        fileName:
          type: string
          description: alphanumeric name of the document.
          example: my-file.txt
        displayName:
          type: string
          description: display name of the document.
          example: My File
        locked:
          type: boolean
          description: if the document is visible for the administrator only
          example: true
        version:
          type: string
          readOnly: true
          description: the version of the document in the cirQit environment
          example: abcd1234EFGH5678jklm
        installationId:
          type: string
          readOnly: true
          description: installationID related to the document.
          example: ABCDE-12345
        path:
          type: string
          description: slash delimited path of the directory where the document is stored.
          example: folder/subfolder1/subfolder2
        creationDate:
          type: string
          format: date
          description: Creation date in the cirQit environment of the document in ISO format "YYYY-MM-DD-HHMMSS".
        mimeType:
          type: string
          description: Mime type of the document.
          example: application/pdf

    CirQitError:
      type: object
      required:
        - errorCode
        - errorMessage
      properties:
        errorCode:
          type: string
          example: VALIDATION_ERROR
          description: Unique error code.
        errorMessage:
          type: string
          example: Input validation failed
          description: Short description of the error.
        errorReasons:
          type: array
          items:
            type: object
            required:
              - message
              - code
            properties:
              message:
                type: string
                example: Attribute 'xxxx' must not be longer than 50 chars.
              code:
                type: string
                example: ERROR_012
                description: Unique reason code for this specific reason.
              location:
                type: string
                example: /rootLevel/xxxx
                description: Location within message where the error is related to.
          description: >-
            List of error reasons if multiple reasons are related to the same error.



  responses:
    CirQitError400:
      description: Client error, e.g. bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError401:
      description: Unauthorized, no access to the requested resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError403:
      description: Forbidden, no access to the requested document
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError404:
      description: Resource is not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError405:
      description: Path or HTTP method not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError409:
      description: Resource already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'
    CirQitError500:
      description: Server error, e.g. internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CirQitError'

  parameters: { }
externalDocs:
  description: Developer documentation for cirQit OpenAPI
  url: https://www.cirqit.cloud/openAPI
